<%- include ../partials/header %>
<sction class="block"></sction>

<h2>Reviews</h2>
<form id="add-review-form" method="POST" action="/main/:id/comment">
    <label>Review:</label>
    <textarea name="content" rows="5" class="form-control"></textarea>
    <input type="submit" value="Add Comment">
</form>

<% if (post.comments.length) { %>
<table>
    <thead>
        <tr>
            <th>text</th>
        </tr>
    </thead>
    <tbody>
        <% post.comments.forEach(function(c) { %>
        <tr>
            <td><%= c.content %></td>
        </tr>
        <% }); %>
        <tr>
            <td colspan="2"></td>
            <td><strong><%= (total / movie.reviews.length).toFixed(1) %></strong></td>
        </tr>
    </tbody>
</table>
<% } else { %>
<h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>