<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Bloor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<header>
    <a href="#" class="logo">explore bloor</a>
    <ul>
        <li><a href="/main">Home</a></li>
        <li><a href="/main/new">Add New</a></li>
        <li><a href="#">Bulala</a></li>
    </ul>
</header>

<body>