<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Bloor</title>
    <!-- //google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@100&family=Overpass&display=swap"
        rel="stylesheet">

</head>
<header>
    <a href="/" class="logo">explore bloor</a>
    <ul>
        <li><a href="/main">Home</a></li>
        <li><a href="/main/new">Add New</a></li>
        <li><a href="/user/login">Log in</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/logout">Logout</a></li>

    </ul>
</header>

<body>
    <section class="block"></section>