<!DOCTYPE html>
<html>

<head>
    <title>ExploreBloor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" defer
        async></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@100&family=Overpass&display=swap"
        rel="stylesheet">
</head>

<body>
    <section>
        <div class="box">
            <h1>Explore Bloor</h1>
            <p>The Bloor St. Culture Corridor encompasses three major Toronto neighbourhoods; the Annex, University of
                Toronto, and Yorkville, and includes 5 major Toronto Transit (TTC) subway stations. Each of these
                neighbourhoods is an ecosystem of residents, arts and culture, retail, restaurants and cafes, and
                business.
                Torontonians and visitors to the city can easily take public transit to get to the Bloor St. Culture
                Corridor, and
                walk from a museum to an afternoon art talk or exhibition,shop, have lunch or dinner, and enjoy a
                concert
                or film.</p>
            <a href="/main">start</a>

        </div>
    </section>


    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <% include partials/footer %>