<% include ../partials/header%>
<div class="container">

    <div class="row">
        <h1 style="text-align: center"> LOGIN</h1>
        <%// include ../partials/messages%>
        <div style="width:30%; margin: 25px auto;">

            <form action="/user/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="lead mt-4">
                No Account? <a href="/user/register">Register</a>
            </p>
        </div>
    </div>
</div>

<% include ../partials/footer%>